.header {
    /*border: 1px solid green;*/
    width: 100%;
    height: 70px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-around;
    font-size: 20px;
    background-color: #50203a;
    /* text-align: center; */
}

.link a {
    color: white;
    text-decoration: none;

}

.link {
    text-align: center;
    margin: 20px;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    background: #bfc4bf46;

}
.link:hover {
    background-color: #0164AB; 
}