.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url("../../../fifa.png") ;
    background-position: center;
    background-position-y: -350px;
    background-size: cover;
    background-repeat: no-repeat;   
    background-color: aliceblue;
}
.games-column {
    display: flex;
    flex-direction: column;
    width: 18%;
    /* border: 1px solid lightgreen; */
    justify-content: space-around;

}
.games {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(58, 58, 58); */
    width: 100%;
    align-items: center;
    /* background-color: rgb(219, 255, 219); */
    /* margin: 4px; */
    padding: 6px;
}
.country {
    cursor: pointer;
    /* text-align: center; */
    padding-left: 50px;
    padding-top: 2px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 80%;
    color: rgb(94, 11, 0);
    height: 30px;
    font-size: 1rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(183, 247, 183);
    background-repeat: no-repeat;
    background-size: 34%;
    margin-top: 2px;
}

.country:hover {
    background-color: lime;
    border: 1px solid snow;
}
.Russia {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/russia.png");
}
.Arabia {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/saudi-arabia.png");
}
.Egypt {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/egypt.png");  
}
.Uruguay {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/uruguay.png")
}
.Morocco {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/morocco.png");
}
.Iran {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/iran.png");
}
.Portugal {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/portugal.png");
}
.Spain {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/spain.png");
}
.France {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/france.png");
}
.Australia {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/australia.png");
}
.Argentina {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/argentina.png")
}
.Iceland {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/iceland.png");
}
.Peru {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/peru.png");
}
.Denmark {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/denmark.png");
}
.Croatia {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/croatia.png");
}
.Nigeria {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/nigeria.png");
}
.Costa-Rica {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/costa-rica.png");
}
.Serbia {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/serbia.png");
}
.Germany {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/germany.png");
}
.Mexico {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/mexico.png");
}
.Brazil {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/argentina.png");
}
.Switzerland {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/switzerland.png");
}
.Sweden {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/sweden.png");
}
.Korea {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/south-korea.png");
}
.Poland {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/poland.png");
}
.Senegal {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/senegal.png");
}
.Colombia {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/colombia.png");
}
.Japan {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/japan.png");
}
.Panama {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/panama.png");
}
.Belgium {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/belgium.png");
}
.Tunisia {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/tunisia.png");
}
.England {
    background-image: url("https://www.theflagshop.co.uk/media/wysiwyg/porto/homepage/england.png");
}
