.bet-container {
    width: 50%;
    border: 1px solid green;
    height: 200px;
    margin: 20px auto;
    background-color: rgb(211, 255, 205);
}
.match-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.match-item  {
    /* display: inline-block; */
    /* margin: 20px 20px; */
    border: 1px solid green;
    width: 25%;
    height: 40px;
    background-color: lawngreen;
    color: brown;
    font-weight: bold;
    /* text-align: center; */
    cursor: pointer;
    padding-top: 8px;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 30%;
    /* font-size: 21px; */
}
.winner {
    border: 1px solid green;
    width: 20%;
    height: 48px;
    background-color: lawngreen;
    color: rgb(83, 0, 21);
    font-weight: bold;
    /* text-align: center; */
    margin: 0 auto;
    /* padding-top: 8px; */
    /* padding-left: 80px; */
    background-repeat: no-repeat;
    background-size: 45%;
}

.match-item:hover {
    background-color: lightgray; 
}

p{
    margin: 0 auto;
    padding-left: 75px;
}