* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

.app {
    /*padding-top: 20px;*/
    padding-bottom: 20px;
    width: 100%;
    background-image: url("./assets/background.png");

    background-color: black;
    background-attachment: fixed;
    background-size: cover ;
    
}


.footer {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.63);
}

@media (max-width: 600px) {
    .header {
        font-size: 15px;
    }
}