.user-bet-container {
    height: 100%;
    width: 28%;
    background-color: #149f9871;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
}

.user-bet-container button {
    background: rgb(0, 255, 0);
    outline: none;
    font-weight: bold;
    border-radius: 6px;
}
.user-bet-container input {
    background-color: rgb(255, 255, 255);
    font-weight:  bold;
    border-radius: 6px;
    outline: none;
    width: 40%;
    padding-left: 2px;
    padding: 3px;


}

.user-bet-container label {
    height: 100%;
    width: 40%;
    padding: 3px;
    background-color: #9c2456;
    font-weight:  bold;
    border: 1px solid black;
    border-radius: 6px;
}
.bet-value  {
    font-weight: bold;
    width: 60%;
    border: 1px solid black;
    padding-top: 5px;
    border-radius: 8px;
    background-color: #9c2456;
    padding-left: 5px;
    

}
.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.balance {
    text-align: center;
    border-radius: 6px;
    width: 60%;
    height: 15%;
    font-weight: bold;
    background-color: #9c2456;
    align-self: center;
    border: 1px solid black;

}
.balance p {
    margin: 0;
    padding: 0;
}
.error {
    width: 90%;
    height: 25px;
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
}

@media (max-width: 1100px) {
    .balance  {
        font-size: 12px;
        height: 10%;
    }
    .user-bet-container label, input,.bet-value, .error {
        font-size: 12px;
    }   
}
@media (max-width: 360px) {
    .balance {
        font-size: 11px;
        height: 14%;
    }
}