.players-container {
    width: 28%;
    height: 100%;
    background-color: #149f9871;
    text-align: center;
    /* font-weight: bold; */
    color: rgb(255, 255, 255);
    padding: 10px;

}
ol {
    padding: 0;
    background-color: #0000004d;
    width: 90%;
    margin: 30px auto;
    border-radius: 6px;
}

.players-header {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 90%;
    color: rgb(255, 255, 255);
    height: 30px;
    background-color: #0000004d;
    background-repeat: no-repeat;
    background-size: contain;
}

.players-container p{
    padding: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto; 
}

@media  (min-width: 800px) and (max-width: 1010px) {
    .players-container {
        font-size: 13px;
        padding-top: 55px;

    }
}

@media  (min-width: 500px) and (max-width: 799px) {
    .players-container {
        font-size: 11px;
        padding-top: 60px;


    }
    .players-container p {
        font-size: 15px;
        padding-left: 45px;
    }
}
@media  (min-width: 360px) and (max-width: 499px) {
    .players-container {
        font-size: 9px;
        padding-top: 65px;


    }
    .players-container p {
        font-size: 13px;
        padding-left: 36px;        
    }
    .players-header {
        height: 20px;
    }
}
@media (max-width: 359px) {
    .players-container {
        font-size: 9px;
        padding-top: 60px; 
        
    }
    .players-container p {
        font-size: 11px;
        padding-left: 36px; 
        height: 15px;       
    }
}


